# folders
# web
ui/logs
            

# files
*.DS_Store
*.swp
*.swo
tags
ui/config/database.php
ui/config/redis.php
ui/config/memcached.php
ui/views/upload_form.php
ui/views/upload_success.php
ui/testPreSlotid.php
